<div class="list card">
    <a class="item item-icon-left item-calm">
        <i class="icon ion-android-done-all"></i>Completed {{data.completed}}
    </a>
</div>
<div class="list card">
    <a class="item item-icon-left item-balanced">
        <i class="icon ion-ios-redo"></i>In Progress {{data.in_progress}}
    </a>
</div>
<div class="list card">
    <a class="item item-icon-left item-energized">
        <i class="icon ion-android-arrow-dropright-circle"></i>Not Started {{data.not_started}}
    </a>
</div>
<!--<div class="list card">-->
    <!--<a class="item item-icon-left item-assertive">-->
        <!--<i class="icon ion-alert"></i>Deadline Coming Soon 0-->
    <!--</a>-->
<!--</div>-->
