<ion-content>
    <div>
        <div class="item item-thumbnail-left">
            <img src="{{image}}">
            <h3 class="title">{{name}}</h3><br/>
            <h4 class="title">{{client.user.username}}</h4>
        </div>
    </div>
    <div class="list">
        <label class="item item-input">
            <span class="input-label">First Name <span style="color:red">*</span></span></span>
            <input type="text" placeholder="First Name" ng-model="client.user.first_name">
        </label>
        <label class="item item-input">
            <span class="input-label">Last Name <span style="color:red">*</span></span></span>
            <input type="text" placeholder="Last Name" ng-model="client.user.last_name">
        </label>
        <label class="item item-input">
            <span class="input-label">Email <span style="color:red">*</span></span></span>
            <input type="email" placeholder="Email" ng-model="client.user.email" disabled="true">
        </label>
        <!--<div class="item item-input-inset">-->
            <!--<span class="input-label">DOB</span>-->
            <!--<label class="item-input-wrapper">-->
                <!--<input type="text" disabled placeholder="Date of Birth" ng-model="client.dob">-->
            <!--</label>-->
            <!--<button class="button button-positive icon ion-calendar" ng-click="set()"></button>-->
            <!--<button class="button button-assertive icon ion-close-circled" ng-click="clear()"></button>-->
        <!--</div>-->
        <!--<label class="item item-input item-select">-->
            <!--<span class="input-label">Gender</span>-->
            <!--<select ng-model="client.gender">-->
                <!--<option selected value="">--choose gender--</option>-->
                <!--<option value="Male">Male</option>-->
                <!--<option value="Female">Female</option>-->
            <!--</select>-->
        <!--</label>-->
        <button class="item button button-block button-positive icon ion-checkmark-round" ng-click="save()"> Update Your Information </button>
    </div>
    <div style="height:10px"></div>
</ion-content>
