<div class="card">
    <div class="item item-divider" ng-class="itm">
        Personal Settings
    </div>
    <div class="item item-text-wrap">
        <label class="item item-input item-select">
            <div class="input-label" style="width:47%">
                Header Color
            </div>
            <select ng-change="changeColor()" ng-model="color">
                <option value="bar-positive">Blue</option>
                <option value="bar-balanced">Green</option>
                <option value="bar-energized">Yellow</option>
                <option value="bar-assertive">Red</option>
                <option value="bar-royal">Purple</option>
                <option value="bar-dark">Black</option>
            </select>
        </label>
    </div>
</div>
